$headerColor: #626573;
$seminar: #7BA4D4;
.container__week {
  width: 1670px;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}

.container__daysAndTime{
  display: flex;
  margin-top: 10px;
}
.weekDays {
  display: flex;
  padding-left: 62px;
  font-size: 18px;
  h5 {
    min-width: 270px;
    color: $headerColor;
    & + h3 {
      padding-left: 4px;
    }
  }
}

.weekTime {
  display: flex;
  flex-direction: column;
  max-width: 66px;
  max-height: 474px;
  span {
    color: #a3abbb;
    font-size: 14px;
    font-weight: 400;

    & + span {
      padding-top: 43px;
    }
  }
}

.weeklyScheduleItems {
  display: flex;
  flex-direction: column;
  height: 474px;
  overflow: hidden;
  width: 270px;
  background: #f0f0f0;
  box-shadow: inset 4px 4px 30px rgba(0, 0, 0, 0.25);
  border-radius: 20px;


  margin-right: 4px;
  
}

.weeklyScheduleItems-item{
    min-height: 66px ;

    & + .weeklyScheduleItems-item {
      margin-top: 0.2em;
    }
}


.seminar-color{
  background: $seminar;
}
