$headerColor: #626573;
main {   
    overflow-x: auto;
    
}

.wrapper{
    overflow-y: auto;
    overflow-x: hidden;
}
.container {
    margin-left: 94px;
    margin-top: 40px;
    
}

h1 {
    color: $headerColor;
}

h3 {
    margin: 0;
    color: $headerColor;
}


.scheduleContainer {
    display: flex;
    margin-top: 70px;    
}




