$lection: #90cda1;
$seminar: #7BA4D4;

.weeklyScheduleInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 66px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  & + .weeklyScheduleInfo {
    margin-top: 2px;
  }
  span {
    display: inline-block;
    color: rgba(255, 255, 255, 0.6);
  }

  .span-bold {
    color: #fff;
  }
}

.lection-color{
  background: $lection;
}

.seminar-color{
  background: $seminar;
}
